<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Art-gallery</title>
    <link rel="stylesheet" href="../static/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="../static/css/main.css">
</head>
<body>
<header>
    <div class="wrapper">
        <div class="logo-and-nav">
            <div class="logo">
                <h1>
                    <a href="#">
                        <img src="../static/img/logo.png" alt="art-gallery-logo">
                    </a>
                </h1>
            </div>
            <div class="nav">
                <ul class="header-menu">
                    <li>
                        <a href="index.html">
                            Home
                        </a>
                    </li>
                    <li>
                        <a href="gallery_styles.html">
                            Gallery
                        </a>
                    </li>
                    <li>
                        <a href="painters.html">
                            Painters
                        </a>
                    </li>
                    <li>
                        <a href="news.html">
                            News
                        </a>
                    </li>
                </ul>
            </div>
            <div class="search-and-reg_buttons">
                <div class="search">
                    <input class="home-search" type="search" placeholder="Search...">
                    <input type="button" class="search-button fa fa-search" aria-hidden="true">
                </div>
                <ul class="reg-buttons">
                    <li>
                        <a class="red-but sign-up" href="#">
                            Sign up
                        </a>
                    </li>
                    <li>
                        <a class="red-but" href="#">
                            Sign in
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>
<main>
    <section class="style">
        <div class="wrapper">
            <div class="styles-block">
                <h2>
                    STYLES
                </h2>
                <ul class="styles">
                    <li>
                        <a href="gallery_pictures.html" class="styless dadaism">
                            <span class="name-style">
                                Dadaism
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="gallery_pictures.html" class="styless impressionism">
                            <span class="name-style">
                                Impressionism
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="gallery_pictures.html" class="styless classicism">
                            <span class="name-style">
                                Classicism
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="gallery_pictures.html" class="styless cubism">
                            <span class="name-style">
                                Cubism
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="gallery_pictures.html" class="styless minimalism">
                            <span class="name-style">
                                Minimalism
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="gallery_pictures.html" class="styless modern">
                            <span class="name-style">
                                Modern
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="gallery_pictures.html" class="styless pop-art">
                            <span class="name-style">
                                Pop-art
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="gallery_pictures.html" class="styless realism">
                            <span class="name-style">
                                Realism
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="gallery_pictures.html" class="styless symbolism">
                            <span class="name-style">
                                Symbolism
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="gallery_pictures.html" class="styless surrealism">
                            <span class="name-style">
                                Surrealism
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="gallery_pictures.html" class="styless expressionism">
                            <span class="name-style">
                                Expressionism
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="gallery_pictures.html" class="styless abstractionism">
                            <span class="name-style">
                                Abstractionism
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </section>
</main>
<footer>
    <div class="wrapper">
        <ul class="footer-container">
            <li class="logo">
                <a href="index.html">
                    <img src="../static/img/logo2.png" alt="art-gallery-logo">
                </a>
            </li>
            <li class="nav-2">
                <ul class="footer-menu">
                    <li>
                        <a href="index.html">
                            Home
                        </a>
                    </li>
                    <li>
                        <a href="gallery_styles.html">
                            Gallery
                        </a>
                    </li>
                    <li>
                        <a href="painters.html">
                            Painters
                        </a>
                    </li>
                    <li>
                        <a href="news.html">
                            News
                        </a>
                    </li>
                </ul>
            </li>
            <li class="social-icons">
                <a href="#">
                    <span class="fa fa-instagram" aria-hidden="true"></span>
                </a>
                <a class="vk" href="#">
                    <span class="fa fa-vk" aria-hidden="true"></span>
                </a>
                <a href="#">
                    <span class="fa fa-twitter" aria-hidden="true"></span>
                </a>
                <a href="#">
                    <span class="fa fa-facebook" aria-hidden="true"></span>
                </a>
            </li>
            <li class="subscribe">
                <h3>
                    Subscribe to news
                </h3>
                <input class="email" type="email" placeholder="Email">
                <input class="sub-button" type="button" value="Subscribe">
            </li>
        </ul>
    </div>
</footer>
<script
        src="https://code.jquery.com/jquery-2.2.4.min.js"
        integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
        crossorigin="anonymous"></script>
<script src="../static/source-js/main.js">

</script>
</body>
</html>